modules = ["python-3.11"]

[nix]
channel = "stable-24_05"
packages = ["postgresql"]

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Folder Creator"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "test_folder_creation"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Discord Bot"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Dashboard Website"

[[workflows.workflow]]
name = "Folder Creator"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 create_folder.py"

[[workflows.workflow]]
name = "test_folder_creation"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python3 create_folder.py"

[[workflows.workflow]]
name = "Discord Bot"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd .gggaza && python bot.py"

[[workflows.workflow]]
name = "Dashboard Website"
author = "agent"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "python app.py"
waitForPort = 5000

[deployment]
run = ["sh", "-c", "python3 create_folder.py"]

[[ports]]
localPort = 5000
externalPort = 80
